doctype html
html(lang="en")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="UTF-8")
		meta(name="description" content="The Coding Forge is the personal portfolio website of Daniel Yalg.")
		meta(name="keywords" content="The Coding Forge, Coding, Forge, Web Developer, Full Stack Developer, Web, Freelance, Brisbane, Python, Apps, Javascript, Node, Internet, Developer, Front End Developer, Back End Developer")
		meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title The Coding Forge
		link(rel="icon" href="/favicon.ico")
		//- link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet")
		link(rel="stylesheet" href="css/styles.min.css")
		script(async src="https://www.googletagmanager.com/gtag/js?id=UA-118887921-1")
		script(src="js/scripts.min.js" async)

	body
		main
			block content