div.logo-overlay
img(src="img/tcf_white.png" class="tcf-logo" alt="Logo")
span.page-state.pulse Loading

div.room
	img(class="room-gif" src="img/room.gif" alt="Room")

	svg(class="monitor-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 600 400" style="enable-background:new 0 0 600 400;" xml:space="preserve")
		g.monitor
			rect(x="79.5" y="157.5" class="st1" width="81" height="49")

	div.interactive-wrap
		div.monitor
