div(class="explorer-window about-explorer" tabindex="0")
	div.window-header
		p.window-title About

		div.button-wrap.close-explorer
			i.fa.fa-times

	div.window-body.about-body
		div.clearfix
		p Hey, thanks for stopping by and checking out my site :)
		p I'm a full stack developer based in Brisbane. I mainly work with the web but I also build software and mobile apps when I have some free time.
		p Hit me up if you want to collaborate with me or would like to hire me as a freelance developer or consultant. Just click on the contact app and send me an email!
		p I plan to keep this site updated with my latest work so stop by every now and than to see what i've been working on.
		p ---
		p Animated gif and logo created by the amazing <a href="https://twitter.com/joseph_silipo" target="_blank" rel="noopener">@joseph_silipo</a>, hit him up if you need any pixel art.