div(class="explorer-window awards-explorer" tabindex="0")
	div.window-header
		p.window-title Awards

		div.button-wrap.close-explorer
			i.fa.fa-times

	div.window-body.awards-body
		//- div.clearfix
		//- div.explorer-icon.ie
		//- 	i.fa.fa-internet-explorer.fa-2x

		div.award-item
			img(src="img/cssda-special-kudos-white.png")
			span.name CSS Design Awards - Special Kudos


		div.award-item
			img(src="img/best-ui-white.png")
			span.name CSS Design Awards - Best UI Design

		div.award-item
			img(src="img/best-innovation-white.png")
			span.name CSS Design Awards - Best Innovation