div(class="explorer-window trash-explorer" tabindex="0")
	div.window-header
		p.window-title Trash

		div.button-wrap.close-explorer
			i.fa.fa-times

	div.window-body.trash-body
		div.clearfix
		div.explorer-icon.ie
			i.fa.fa-internet-explorer.fa-2x