div(class="explorer-window work-explorer" tabindex="0")
	div.window-header
		p.window-title Work

		div.button-wrap.close-explorer
			i.fa.fa-times

	div.window-body.work-body
		//- div.clearfix
		//- div.explorer-icon.ie
		//- 	i.fa.fa-internet-explorer.fa-2x

		div.work-item
			a(href="https://learnjapanesepod.com/" class="work-link-1" target="_blank") 
				img(src="img/ljp.png")
				span.name Learn Japanese Pod App
				span.language.two.no-left-margin App
				span.language.two React Native
		
		div.work-item
			a(href="https://thecodingforge.com.au/work/pokedex/" class="work-link-1" target="_blank") 
				img(src="img/tcf.png")
				span.name Pokedex
				span.language.two.no-left-margin App
				span.language.two React

		div.work-item
			a(href="https://thecodingforge.com.au/work/snake/" class="work-link-1" target="_blank") 
				img(src="img/tcf.png")
				span.name Snake
				span.language.two.no-left-margin Game
				span.language.two JS

		div.work-item
			a(href="https://thecodingforge.com.au/work/astro-flight/" class="work-link-1" target="_blank") 
				img(src="img/astro_flight.png")
				span.name Astro Flight
				span.language.two.no-left-margin Game
				span.language.two Phaser

		div.work-item
			a(href="https://thecodingforge.com.au/work/broks-bloks" class="work-link-1" target="_blank") 
				img(src="img/brok.png")
				span.name Broks Bloks
				span.language.two.no-left-margin Website
				span.language.two Phaser

		div.work-item
			a(href="https://thecodingforge.com.au/work/papajoe" class="work-link-1" target="_blank") 
				img(src="img/papa.png")
				span.name Papa Joes
				span.language.two.no-left-margin Website
				span.language.two Phaser

		div.work-item
			a(href="https://hamagram.herokuapp.com/" class="work-link-1" target="_blank") 
				img(src="img/tcf.png")
				span.name Hamagram
				span.language.two.no-left-margin App
				span.language.two React / Node

		div.work-item
			a(href="https://yalgie-connect-four.netlify.com/" class="work-link-1" target="_blank") 
				img(src="img/tcf.png")
				span.name Connect Four
				span.language.two.no-left-margin App
				span.language.two React

		div.work-item
			a(href="http://referrals.trhou.se/danielyalg" target="_blank")
				img(src="https://static.teamtreehouse.com/assets/content/referral-badge-grn.png")
				span.name Treehouse
				span.language.one.no-left-margin Give me cheaper learning :)

		